* {
    margin: 0;
    padding: 0;
  }
  
  .particlesContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    z-index: 1;
  }
  
  .particles {
    position: relative;
    display: flex;
  }
  
  .particles span {
    position: relative;
    width: 10px;
    height: 10px;
    background: #ff003b;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ae052c6c, 0 0 30px #ff003b, 0 0 100px #ff003b;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
  }
  
  .particles span:nth-child(even){
    background: #cf0736;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #df0e3f62, 0 0 50px #cf0736, 0 0 100px #cf0736;
  }
  
  @keyframes animate {
    0%
    {
      transform: translateY(100vh) scale(0);
    }
    100%
    {
      transform: translateY(-10vh) scale(1);
    }
  }
  